/*
 @include respond(tab-land) {
        font-size: 56.25%;
    }
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 59.37em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 45%; } }

body > * {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem; }

.container {
  display: grid;
  grid-template-columns: [full-start] 4fr [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end] 4fr [full-end];
  grid-template-rows: minmax(70vh, max-content) minmax(75vh, max-content) minmax(75vh, max-content) max-content minmax(75vh, max-content) minmax(90vh, max-content) max-content; }
  @media only screen and (max-width: 81.25em) {
    .container {
      grid-template-columns: [full-start] [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end] [full-end]; } }

.heading-1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 6.4rem; }

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem; }

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem; }

.mg-b-sm {
  margin-bottom: 2rem; }

.header {
  position: relative;
  grid-column: full-start/full-end;
  grid-row: 1 / span 1;
  background-image: linear-gradient(to right, rgba(38, 19, 72, 0.4), rgba(255, 0, 0, 0.4)), url(../img/header.png);
  background-size: cover;
  background-position: top;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content max-content max-content 1fr;
  row-gap: 6rem;
  color: #fff; }
  @media only screen and (max-width: 53.125em) {
    .header {
      grid-template-columns: 1fr 5fr 1fr;
      row-gap: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-columns: 1fr 10fr 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      grid-template-columns: 0fr 12fr 0fr;
      row-gap: 7rem; } }
  .header__heading {
    z-index: 2;
    grid-column: 2 / span 1;
    text-align: center;
    width: 50%;
    text-shadow: 3px 3px 0px #000; }
    @media only screen and (max-width: 59.37em) {
      .header__heading {
        width: 90%; } }
    @media only screen and (max-width: 25em) {
      .header__heading {
        width: 95%; } }
    .header__heading span {
      color: #f40e29; }
  .header__text {
    z-index: 2;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
    align-self: start; }
    @media only screen and (max-width: 59.37em) {
      .header__text {
        line-height: 2; } }
    @media only screen and (max-width: 31.25em) {
      .header__text {
        padding: 0 0.2rem 0 0.2rem;
        font-size: 1.7rem;
        line-height: 2.5; } }
    @media only screen and (max-width: 25em) {
      .header__text {
        font-size: 1.6rem;
        line-height: 1.6; } }

.about {
  grid-column: full-start/full-end;
  grid-row: 2 / span 1;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .about__header {
    text-align: start; }
  .about__box {
    color: #616161;
    justify-self: end;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    width: 60%;
    padding: 3rem; }
    @media only screen and (max-width: 75em) {
      .about__box {
        width: 80%; } }
    @media only screen and (max-width: 62.5em) {
      .about__box {
        justify-self: center;
        width: 100%;
        padding: 6rem; } }
  .about__img {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    max-width: 100%;
    max-height: 50rem;
    justify-self: start; }
    @media only screen and (max-width: 62.5em) {
      .about__img {
        justify-self: center; } }

.services {
  padding: 3rem;
  grid-column: full-start/full-end;
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content 1fr;
  row-gap: 3rem;
  justify-items: center; }
  .services__heading {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    max-height: 30rem;
    max-width: 100%; }

.accordions {
  width: 60%;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3; }
  @media only screen and (max-width: 62.5em) {
    .accordions {
      width: 90%; } }
  @media only screen and (max-width: 25em) {
    .accordions {
      width: 95%; } }

.inprogress {
  grid-column: full-start/full-end;
  grid-row: 5 / span 1;
  background-image: url(../img/inprogress.png);
  background-position: center;
  display: grid;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  row-gap: 15rem;
  padding: 3rem; }
  @media only screen and (max-width: 120em) {
    .inprogress {
      row-gap: 5rem; } }
  @media only screen and (max-width: 75em) {
    .inprogress {
      grid-template-columns: 1fr 10fr 1fr;
      align-items: center;
      row-gap: 0; } }
  @media only screen and (max-width: 62.5em) {
    .inprogress {
      grid-template-rows: 1fr max-content 1fr;
      grid-template-columns: 1fr; } }
  .inprogress__header {
    justify-self: center;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    color: #fff;
    align-self: end;
    white-space: nowrap; }
    @media only screen and (max-width: 120em) {
      .inprogress__header {
        row-gap: 5rem;
        align-self: start; } }
    @media only screen and (max-width: 75em) {
      .inprogress__header {
        align-self: center; } }
    @media only screen and (max-width: 31.25em) {
      .inprogress__header {
        align-self: start;
        font-size: 5rem; } }

.people {
  background-image: url(../img/people.png);
  background-size: cover;
  background-position: center;
  grid-column: full-start/full-end;
  grid-row: 6 / span 1;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 10fr 1fr;
  row-gap: 3rem;
  padding: 3rem; }
  @media only screen and (max-width: 25em) {
    .people {
      padding: 0; } }
  .people__header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    color: #616161;
    align-self: center;
    justify-self: center; }
  .people__cards {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(6, minmax(25rem, 1fr));
    justify-items: center;
    align-items: start; }
    @media only screen and (max-width: 125em) {
      .people__cards {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
    @media only screen and (max-width: 31.25em) {
      .people__cards {
        grid-template-columns: repeat(2, 1fr); } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
  padding: 1rem; }
  .card__image {
    display: block;
    border-radius: 50%;
    max-height: 15rem;
    max-width: 100%;
    margin-bottom: 1rem;
    filter: grayscale(100%); }
  .card__header {
    color: #616161;
    white-space: nowrap; }
  .card__text {
    text-align: center;
    color: #616161; }

.whoarewe {
  grid-column: full-start/full-end;
  grid-row: 3 / span 1;
  background-image: url(../img/whoarewe.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center; }
  @media only screen and (max-width: 81.25em) {
    .whoarewe {
      grid-template-columns: 1fr; } }
  .whoarewe__header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    color: #fff; }
    @media only screen and (max-width: 81.25em) {
      .whoarewe__header {
        grid-column: 1 / -1; } }
  .whoarewe__video {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    width: 80%;
    height: 80%; }
    @media only screen and (max-width: 81.25em) {
      .whoarewe__video {
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 62.5em) {
      .whoarewe__video {
        width: 90%;
        height: 70%; } }

.footer {
  grid-column: full-start/full-end;
  grid-row: 7 / span 1;
  background: #423b48;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: top; }

.contact {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 60vh 30vh;
  row-gap: 5rem; }
  @media only screen and (max-width: 31.25em) {
    .contact {
      grid-template-rows: max-content max-content; } }
  .contact h1 {
    color: #fff; }

.form {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content 6rem 6rem 12rem 8rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  row-gap: 2rem; }
  .form__input, .form__area {
    width: 55rem;
    height: 100%;
    background-color: transparent;
    outline: none; }
    @media only screen and (max-width: 25em) {
      .form__input, .form__area {
        width: 40rem; } }
  .form__group {
    display: flex;
    flex-direction: column; }
  .form__input {
    padding-left: 1rem;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 2px 20%, 100% 2px, 2px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif; }
  .form__label {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-left: 0.9rem;
    color: #fff;
    transition: all 0.2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-3.1rem); }
  .form__area {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    resize: none;
    font-size: 1.8rem; }
  .form__button {
    background-color: #ff952f;
    color: #fff;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 55rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s;
    box-shadow: -23.511px 32.361px 76px rgba(0, 0, 0, 0.21);
    outline: transparent; }
    @media only screen and (max-width: 25em) {
      .form__button {
        width: 40rem; } }
  .form__button:hover, .form__button:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .form__button:active, .form__button:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.nav-btn {
  display: none; }
  @media only screen and (max-width: 59.37em) {
    .nav-btn {
      display: block; } }
  .nav-btn__checkbox {
    display: none; }
  .nav-btn__label {
    z-index: 1000;
    position: fixed;
    top: 4.5rem;
    right: 5rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: white;
    border: 0.1px solid #616161;
    cursor: pointer; }
  .nav-btn__label:hover > .nav-btn__icon::before {
    top: -1.5rem; }
  .nav-btn__label:hover > .nav-btn__icon::after {
    top: 1.5rem; }
  .nav-btn__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav-btn__icon, .nav-btn__icon::before, .nav-btn__icon::after {
      z-index: 2;
      background-color: #616161;
      display: block;
      width: 5rem;
      height: 0.3rem; }
    .nav-btn__icon::before, .nav-btn__icon::after {
      content: "";
      position: absolute;
      transition: all 0.2s; }
    .nav-btn__icon::before {
      top: -1rem; }
    .nav-btn__icon::after {
      top: 1rem; }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon {
    background-color: transparent; }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-btn__checkbox:checked ~ .background {
    transform: scale(100); }
  .nav-btn__checkbox:checked ~ .menu {
    opacity: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); }

.background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 999;
  background-image: radial-gradient(#616161, #8a7b96);
  transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1); }

.menu {
  list-style: none;
  text-align: left;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.4s; }
  .menu__item {
    margin: 1rem; }
  .menu__link:link, .menu__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
    background-size: 240%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%); }
    .menu__link:link:hover, .menu__link:link:active, .menu__link:visited:hover, .menu__link:visited:active {
      background-position: 100%;
      color: #616161;
      transform: translateX(1rem); }

.nav {
  min-height: 10rem;
  z-index: 2;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5rem;
  align-items: center; }
  @media only screen and (max-width: 59.37em) {
    .nav {
      grid-column: 1 / span 2;
      justify-self: start; } }
  @media only screen and (max-width: 81.25em) {
    .nav {
      column-gap: 1rem; } }
  .nav__logo {
    padding: 1rem;
    width: 20rem; }
    @media only screen and (max-width: 59.37em) {
      .nav__logo {
        width: 30rem;
        padding-top: 5rem;
        padding-left: 5rem; } }
  .nav__list {
    grid-column: 3/-1;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, max-content);
    column-gap: 2rem; }
    @media only screen and (max-width: 59.37em) {
      .nav__list {
        display: none; } }
  .nav__item {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    cursor: pointer;
    border: 0.4rem solid transparent; }
  .nav__item:hover {
    border-bottom: 0.4rem solid darkgoldenrod; }
  .nav__link:link, .nav__link:visited {
    outline: none;
    color: #fff;
    text-decoration: none;
    font-size: 2rem; }

.intro {
  position: absolute;
  width: 90%;
  z-index: 3;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  align-self: end;
  justify-items: center;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  transform: translateY(40%);
  box-shadow: -0.588px 0.809px 76px rgba(0, 0, 0, 0.21);
  line-height: 1;
  padding: 3rem; }
  @media only screen and (max-width: 31.25em) {
    .intro {
      column-gap: 0rem; } }
  @media only screen and (max-width: 62.5em) {
    .intro {
      position: relative;
      transform: translateY(0);
      grid-column: 1/-1;
      width: 100%; } }
  @media only screen and (max-width: 25em) {
    .intro {
      padding: 0rem; } }
  .intro__card {
    padding: 2rem; }
    @media only screen and (max-width: 31.25em) {
      .intro__card {
        padding: 1rem; } }
  .intro__heading {
    font-size: 8rem;
    text-align: start;
    margin-left: 3rem;
    color: #8a7b96; }
  .intro__text {
    width: 75%;
    color: #616161;
    font-weight: 550;
    position: relative; }
    .intro__text::before {
      content: "";
      position: absolute;
      top: -7rem;
      left: 1rem;
      display: block;
      height: 6rem;
      width: 0.6rem;
      transform: skewx(-20deg);
      background-color: #f40e29; }

.accordion {
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: repeat(2, 1fr); }
  .accordion:last-child {
    padding-bottom: 5rem; }
  .accordion__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: center;
    padding-left: 2rem;
    color: #8a7b96;
    user-select: none;
    pointer-events: none;
    white-space: nowrap; }
    @media only screen and (max-width: 31.25em) {
      .accordion__header {
        font-size: 3rem; } }
    @media only screen and (max-width: 25em) {
      .accordion__header {
        font-size: 2.5rem; } }
  .accordion__checkbox {
    display: none; }
  .accordion__checkbox:checked + .accordion__label .accordion__icon {
    transform: rotate(180deg); }
  .accordion__checkbox:checked + .accordion__label {
    background-color: rgba(128, 128, 128, 0.1); }
  .accordion__label {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .accordion__label:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 3px;
    cursor: pointer; }
  .accordion__icon {
    fill: red;
    width: 4.5rem;
    height: 4.5rem;
    transition: all 0.2s; }
  .accordion__content {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    align-self: start;
    overflow: hidden;
    transition: all 0.3s;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 2rem;
    height: 0;
    padding: 0;
    border-top: 2px solid #8a7b96; }
    @media only screen and (max-width: 31.25em) {
      .accordion__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  .accordion__checkbox:checked ~ .accordion__content {
    height: 100%;
    padding: 2rem; }
  .accordion__img {
    max-height: 20rem;
    max-width: 100%; }
    @media only screen and (max-width: 31.25em) {
      .accordion__img {
        margin-bottom: 1rem; } }
  .accordion__text {
    text-align: start; }

.slideshow {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-content: start; }
  @media only screen and (max-width: 62.5em) {
    .slideshow {
      height: 50rem; } }

.slide {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  transform: scale(3); }
  @media only screen and (max-width: 68.75em) {
    .prev,
    .next {
      padding: 0; } }
  @media only screen and (max-width: 31.25em) {
    .prev,
    .next {
      display: none; } }

.prev {
  border-radius: 3px 0 0 3px;
  left: -10rem; }
  @media only screen and (max-width: 68.75em) {
    .prev {
      left: -5rem; } }
  @media only screen and (max-width: 62.5em) {
    .prev {
      top: 120%;
      left: 10%; } }

.next {
  border-radius: 0 3px 3px 0;
  right: -10rem; }
  @media only screen and (max-width: 68.75em) {
    .next {
      right: -5rem; } }
  @media only screen and (max-width: 62.5em) {
    .next {
      top: 120%;
      right: 10%; } }

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000; }

.indicators {
  z-index: 99;
  position: absolute;
  bottom: -10rem;
  display: flex;
  left: 50%;
  transform: translate(-50%); }
  @media only screen and (max-width: 25em) {
    .indicators {
      bottom: -6rem; } }
  .indicators__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 0.2rem;
    background-color: #fff;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    @media only screen and (max-width: 31.25em) {
      .indicators__dot {
        margin: 0 5rem;
        height: 4rem;
        width: 4rem; } }
  .indicators__dot:nth-child(2) {
    margin: 0 1rem 0 1rem; }
  .indicators__dot:hover {
    background-color: #fff; }

.active {
  background-color: #fff; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.project {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-rows: 6rem 16rem 9rem;
  padding: 2.5rem; }
  @media only screen and (max-width: 62.5em) {
    .project {
      grid-template-rows: auto auto auto; } }
  .project__header {
    grid-row: 1 / span 1;
    color: #fff; }
  .project__text {
    text-align: start;
    grid-row: 2 / span 1;
    color: #fff;
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .project__text {
        line-height: 2; } }
  .project__box {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    align-items: end; }

.item {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  padding: 2rem;
  background-color: #f41731;
  text-transform: uppercase; }
  @media only screen and (max-width: 81.25em) {
    .item {
      flex-direction: column;
      text-align: center;
      padding: 1rem; } }
  .item__icon {
    width: 3rem;
    height: 3rem;
    margin: 0.7rem; }

.item:nth-child(2) {
  background-color: #8a7b96; }

.info {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
  padding: 2rem; }
  @media only screen and (max-width: 25em) {
    .info {
      flex-direction: column;
      align-items: center; } }
  .info__column {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 25em) {
      .info__column {
        width: 70%;
        margin-bottom: 1rem; } }
  .info__small {
    font-size: 1rem; }
    @media only screen and (max-width: 25em) {
      .info__small {
        font-size: 1.3rem; } }
  .info__logo {
    margin-top: 7rem;
    width: 20rem; }
    @media only screen and (max-width: 25em) {
      .info__logo {
        margin-left: 2rem; } }
  .info a:link,
  .info a:visited {
    color: #fff; }
