/*
 @include respond(tab-land) {
        font-size: 56.25%;
    }
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 25.875em) {
    html {
      font-size: 30%; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] 4fr [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end] 4fr [full-end];
  grid-template-rows: 90vh 80vh 70vh 70vh 70vh 90vh 100vh; }
  @media only screen and (max-width: 81.25em) {
    .container {
      grid-template-columns: [full-start] [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end] [full-end]; } }

.heading-1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 10rem; }

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 8rem; }

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem; }

.mg-b-sm {
  margin-bottom: 2rem; }

.header {
  position: relative;
  grid-column: full-start/full-end;
  grid-row: 1 / span 1;
  background-image: linear-gradient(to right, rgba(38, 19, 72, 0.4), rgba(255, 0, 0, 0.4)), url(../img/header.png);
  background-size: cover;
  background-position: top;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content max-content max-content 1fr;
  row-gap: 6rem;
  color: #fff; }
  @media only screen and (max-width: 62.5em) {
    .header {
      row-gap: 15rem; } }
  .header__heading {
    z-index: 2;
    grid-column: 2 / span 1;
    text-align: center;
    width: 50%;
    line-height: 1;
    text-shadow: 3px 3px 0px #000; }
    .header__heading span {
      color: #f40e29; }
  .header__text {
    z-index: 2;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    font-size: 2rem;
    text-align: center;
    align-self: start;
    color: #fff; }
    @media only screen and (max-width: 25.875em) {
      .header__text {
        font-size: 2.5rem;
        padding: 0 1rem 0 1rem; } }
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(29, 14, 12, 0.239216);
    width: 100%;
    height: 90vh; }

.about {
  grid-column: full-start/full-end;
  grid-row: 2 / span 1;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .about__header {
    text-align: start; }
  .about__text {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem; }
  .about__box {
    color: #616161;
    align-self: center;
    justify-self: end;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    width: 50%; }
  .about__img {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    max-width: 100%;
    max-height: 50rem;
    justify-self: start;
    align-self: center; }

.services {
  grid-column: full-start/full-end;
  grid-row: 4 / span 1;
  background-color: cyan; }

.inprogress {
  grid-column: full-start/full-end;
  grid-row: 5 / span 1;
  background-image: url(../img/inprogress.png); }

.people {
  background-image: url(../img/people.png);
  background-size: cover;
  background-position: center;
  grid-column: full-start/full-end;
  grid-row: 6 / span 1;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 10fr 1fr; }
  .people__header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: center; }
  .people__cards {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(6, minmax(25rem, 1fr));
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 125em) {
      .people__cards {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem; }
  .card__image {
    display: block;
    border-radius: 50%;
    max-height: 11rem;
    max-width: 100%;
    margin-bottom: 1rem;
    filter: grayscale(100%); }
  .card__header {
    font-weight: 700;
    color: #616161; }
  .card__text {
    text-align: center;
    color: #616161; }

.whoarewe {
  grid-column: full-start/full-end;
  grid-row: 3 / span 1;
  background-image: url(../img/whoarewe.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: max-content 1fr;
  justify-items: center; }
  .whoarewe__header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    color: #fff; }
  .whoarewe__video {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    width: 60%;
    height: 60%; }

.footer {
  grid-column: full-start/full-end;
  grid-row: 7 / span 1;
  background: #423b48;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: top; }

.contact {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 60vh 30vh;
  row-gap: 10rem; }
  .contact h1 {
    color: #fff; }

.form {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content 6rem 6rem 12rem 8rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  row-gap: 2rem; }
  .form__input, .form__area {
    width: 55rem;
    height: 100%;
    background-color: transparent;
    outline: none; }
  .form__group {
    display: flex;
    flex-direction: column; }
  .form__input {
    padding-left: 1rem;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-size: 2px 20%, 100% 2px, 2px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif; }
  .form__label {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-left: 0.9rem;
    color: #fff;
    transition: all 0.2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-3.1rem); }
  .form__area {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    resize: none;
    font-size: 1.8rem; }
  .form__button {
    background-color: #ff952f;
    color: #fff;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 55rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s;
    box-shadow: -23.511px 32.361px 76px rgba(0, 0, 0, 0.21);
    outline: transparent; }
  .form__button:hover, .form__button:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .form__button:active, .form__button:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.nav-btn {
  display: none; }
  @media only screen and (max-width: 59.37em) {
    .nav-btn {
      display: block; } }
  .nav-btn__checkbox {
    display: none; }
  .nav-btn__label {
    z-index: 2;
    position: fixed;
    top: 4.5rem;
    right: 4rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer; }
  .nav-btn__label:hover > .nav-btn__icon::before {
    top: -1.5rem; }
  .nav-btn__label:hover > .nav-btn__icon::after {
    top: 1.5rem; }
  .nav-btn__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav-btn__icon, .nav-btn__icon::before, .nav-btn__icon::after {
      z-index: 2;
      background-color: #616161;
      display: block;
      width: 5rem;
      height: 0.3rem; }
    .nav-btn__icon::before, .nav-btn__icon::after {
      content: "";
      position: absolute;
      transition: all 0.2s; }
    .nav-btn__icon::before {
      top: -1rem; }
    .nav-btn__icon::after {
      top: 1rem; }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon {
    background-color: transparent; }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-btn__checkbox:checked + .nav-btn__label .nav-btn__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.nav {
  min-height: 10rem;
  z-index: 2;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5rem;
  align-items: center; }
  @media only screen and (max-width: 59.37em) {
    .nav {
      grid-column: 1 / span 2;
      justify-self: start; } }
  @media only screen and (max-width: 81.25em) {
    .nav {
      column-gap: 1rem; } }
  .nav__logo {
    padding: 1rem;
    width: 20rem; }
    @media only screen and (max-width: 59.37em) {
      .nav__logo {
        width: 30rem;
        padding-top: 5rem;
        padding-left: 5rem; } }
  .nav__list {
    grid-column: 3/-1;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, max-content);
    column-gap: 2rem; }
    @media only screen and (max-width: 59.37em) {
      .nav__list {
        display: none; } }
  .nav__item {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    cursor: pointer;
    border: 0.4rem solid transparent; }
  .nav__item:hover {
    border-bottom: 0.4rem solid darkgoldenrod; }
  .nav__link:link, .nav__link:visited {
    outline: none;
    color: #fff;
    text-decoration: none;
    font-size: 2rem; }

.intro {
  position: absolute;
  width: 90%;
  z-index: 3;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  align-self: end;
  justify-items: center;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  transform: translateY(40%);
  box-shadow: -0.588px 0.809px 76px rgba(0, 0, 0, 0.21);
  line-height: 1;
  padding: 3rem;
  padding-right: 0; }
  @media only screen and (max-width: 62.5em) {
    .intro {
      transform: translateY(0);
      width: 100vw; } }
  .intro__card {
    padding: 2rem; }
  .intro__heading {
    text-align: start;
    margin-left: 3rem;
    color: #8a7b96; }
  .intro__text {
    width: 65%;
    color: #616161;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: relative; }
    .intro__text::before {
      content: "";
      position: absolute;
      top: -7rem;
      left: 1rem;
      display: block;
      height: 6rem;
      width: 0.6rem;
      transform: skewx(-20deg);
      background-color: #f40e29; }

.info {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-around;
  color: #fff; }
  .info__column {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif; }
  .info__small {
    font-size: 1rem; }
  .info__logo {
    margin-top: 7rem;
    width: 20rem; }
  .info a:link,
  .info a:visited {
    color: #fff; }
