.about {
    grid-column: full-start/full-end;
    grid-row: 2 / span 1;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    &__header {
        text-align: start;
    }
    &__box {
        color: #616161;
        justify-self: end;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        width: 50%;
        padding: 3rem;
        @include respond(1000) {
            justify-self: center;
            width: 100%;
            padding: 6rem;
        }
    }
    &__img {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        max-width: 100%;
        max-height: 50rem;
        justify-self: start;
        @include respond(1000) {
            justify-self: center;
        }
    }
}