.footer {
    grid-column: full-start/full-end;
    grid-row: 7 / span 1;
    background: #423b48;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-position: top;
}