.header {
    position: relative;
    grid-column: full-start/full-end;
    grid-row: 1 / span 1;
    background-image: linear-gradient( to right, rgba(#261348, 0.4), rgba(#ff0000, 0.4)), url(../img/header.png);
    background-size: cover;
    background-position: top;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: max-content max-content max-content 1fr;
    row-gap: 6rem;
    @include respond(850) {
        grid-template-columns: 1fr 5fr 1fr;
        row-gap: 7rem;
    }
    @include respond(600) {
        grid-template-columns: 1fr 10fr 1fr;
    }
    @include respond(500) {
        grid-template-columns: 0fr 12fr 0fr;
        row-gap: 7rem;
    }
    color: #fff;
    &__heading {
        z-index: 2;
        grid-column: 2 / span 1;
        text-align: center;
        width: 50%;
        text-shadow: 3px 3px 0px #000;
        @include respond(950) {
            width: 90%;
        }
        span {
            color: $color-red;
        }
    }
    &__text {
        z-index: 2;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        text-align: center;
        align-self: start;
        @include respond(950) {
            line-height: 2;
        }
        @include respond(500) {
            padding: 0 0.2rem 0 0.2rem;
            font-size: 1.7rem;
            line-height: 2.5;
        }
    }
}