.about {
    grid-column: full-start / full-end;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 70vh;
    &__header {
        text-align: start;
    }
    &__text {
        font-family: $font-primary;
        font-size: 1.6rem;
    }
    &__box {
        color: #616161;
        align-self: center;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        width: 80%;
        justify-self: end;
    }
    &__img {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        width: 100%;
        height: auto;
        max-width: 45rem;
        justify-self: start;
        align-self: center;
    }
}