.intro {
    position: absolute;
    width: 90%;
    z-index: 3;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    align-self: end;
    justify-items: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    @include respond(500) {
        column-gap: 0rem;
    }
    transform: translateY(40%);
    box-shadow: -0.588px 0.809px 76px rgba(0, 0, 0, 0.21);
    @include respond(1000) {
        position: relative;
        transform: translateY(0);
        grid-column: 1/-1;
        width: 100%;
    }
    line-height: 1;
    padding: 3rem;
    @include respond(400) {
        padding: 0rem;
    }
    &__card {
        padding: 2rem;
        @include respond(500) {
            padding: 1rem;
        }
    }
    &__heading {
        font-size: 8rem;
        text-align: start;
        margin-left: 3rem;
        color: $color-secondary;
    }
    &__text {
        width: 75%;
        color: $color-primary;
        font-weight: 550;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -7rem;
            left: 1rem;
            display: block;
            height: 6rem;
            width: 0.6rem;
            transform: skewx(-20deg);
            background-color: $color-red;
        }
    }
}