.nav-btn {
    display: none;
    @include respond(950) {
        display: block;
    }
    &__checkbox {
        display: none;
    }
    &__label {
        z-index: 1000;
        position: fixed;
        top: 4.5rem;
        right: 5rem;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        background-color: white;
        border: 0.1px solid $color-primary;
        cursor: pointer;
    }
    &__label:hover>&__icon::before {
        top: -1.5rem;
    }
    &__label:hover>&__icon::after {
        top: 1.5rem;
    }
    &__icon {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &,
        &::before,
        &::after {
            z-index: 2;
            background-color: $color-primary;
            display: block;
            width: 5rem;
            height: 0.3rem;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            transition: all 0.2s;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }
    //po zaskrtnuti checkbox vytvori krizek
    &__checkbox:checked+&__label &__icon {
        background-color: transparent;
    }
    &__checkbox:checked+&__label &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked+&__label &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
    //po zaskrtnuti se zapne menu
    &__checkbox:checked~.background {
        transform: scale(100);
    }
    &__checkbox:checked~.menu {
        opacity: 1;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 999;
    background-image: radial-gradient($color-primary, $color-secondary);
    transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

.menu {
    display: none;
    list-style: none;
    text-align: left;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.4s;
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: #fff;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s;
            background-size: 240%;
            background-image: linear-gradient( 120deg, transparent 0%, transparent 50%, #fff 50%);
            &:hover,
            &:active {
                background-position: 100%;
                color: $color-primary;
                transform: translateX(1rem);
            }
        }
    }
}