*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include respond(1200) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    background-color: grey;
}

.container {
    display: grid;
    grid-template-columns: [full-start] 4fr [center-start] repeat( 10, [col-start] 1fr [col-end]) [center-end] 4fr [full-end];
    @include respond(1300) {
        grid-template-columns: [full-start] [center-start] repeat( 10, [col-start] 1fr [col-end]) [center-end] [full-end];
    }
    grid-template-rows: 90vh;
}