.heading-1 {
    font-family: $font-secondary;
    font-weight: 900;
    font-size: 6.4rem;
}

.heading-2 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 3.2rem;
}

.heading-3 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 2rem;
}